:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.hero {
  background-color: var(--secondary-color);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.primary-link:hover {
  color: black;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.secondary-link:hover {
  color: black;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: left;
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

#contact {
  padding-top: 30px;
}

.img-title {
  font-size: 36px;
  margin-top: 10px;
  color: black;
}

.img-caption {
  font-family: "Playfair Display", serif;
  font-weight: lighter;
}

.contact-section {
  background-color: var(--secondary-color);
  border-radius: 15px;
  padding: 20px;
}

footer .social-links {
  display: flex;
  justify-content: center;
}

footer .social-links a {
  margin: 0 20px;
  color: black;
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--secondary-color);
  background-color: black;
}

footer {
  margin: 60px 0;
}

footer .email-link {
  justify-content: center;
  margin-bottom: 20px;
}

footer .contact-box {
  background-color: var(--secondary-color);
  margin-bottom: 20px;
  padding: 30px 120px;
  border-radius: 15px;
}

footer .contact-box p {
  margin: 0;
}

@media (max-width: 576px) {
  img {
    display: none;
  }
  h1,
  h2,
  h3,
  p {
    text-align: center;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 12px;
  }
  .primary-link {
    display: block;
    text-align: center;
  }
  .about-pic {
    display: block;
  }
  .work-pic {
    display: block;
  }
  footer .contact-box {
    padding: 30px;
  }
  footer .contact-box h2 {
    font-size: 20px;
  }
  footer .primary-link {
    font-size: 18px;
  }
  .contact-section a {
    justify-content: center;
  }
}
